In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
pd.options.mode.chained_assignment = None

root = 'C:/Data/for-you/'
import os

In [65]:
applicants = pd.read_csv(root+'applicants.csv')
bootcamp = pd.read_csv(root+'bootcamp_turnout.csv')
queries = pd.read_csv(root+'queries.csv')
workshops = pd.read_csv(root+'workshops.csv')

In [66]:
applicants.head()

,userid,school,other_school,majors,minors,age_bin,classification,first_generation,datascience_experience,technology_experience,num_hackathons_attended,workshop_suggestions,relavent_industries
0,95030aef3e970680d882f1527f549d9e,Texas A&M University,NaN,"['Landscape Architecture & Urban Planning', 'P...",['Soil and Crop Sciences'],"(25, 30]",Ma,False,2,"['Excel', 'Python', 'Tableau', 'Pandas']",0,Python Fundamentals (Functions/Loops)\nVisuali...,"['consulting', 'public_policy', 'other']"
1,68ad76832a913de0d62df103b3d5b807,Texas A&M University,NaN,"['Electrical Engineering', 'Material Science',...",[],"(18, 20]",Jr,True,2,"['Excel', 'Python', 'Pandas', 'NumPy', 'MATLAB']",0,Training videos on different levels of machine...,"['technology', 'education', 'healthcare', 'ins..."
2,959d8992667c8bfc1ac665f234360eb6,Oregon State University,NaN,['Computer Science & Engineering'],[],"(22, 25]",Ma,True,2,"['Python', 'Pytorch', 'Pandas', 'NumPy', 'Scik...",0,NaN,['technology']
3,76b067cd5f3e1b1976d2e2eeceedf567,"Arizona State University, Tempe Campus",NaN,['Biomedical Engineering'],[],"(18, 20]",Jr,False,1,"['Excel', 'MATLAB']",0,Python data science,"['technology', 'healthcare']"
4,f44cfb96520a82e172ce2ae116b21187,Texas A&M University,NaN,['Computer Science & Engineering'],[],"(22, 25]",Sr,False,1,"['Python', 'Pandas']",0,NaN,[]

In [67]:
bootcamp.head()

,userid,workshop
0,f48d02fd46d249ab2c37f925f405139f,Data Science: Start Here
1,f48d02fd46d249ab2c37f925f405139f,Getting a Job in Data Science
2,f4610ad445934181ac9982f6ba818907,Story Telling With Data
3,f4610ad445934181ac9982f6ba818907,Convolutional Neural Networks & Semantic Segme...
4,f4610ad445934181ac9982f6ba818907,Machine Learning: Start Here

In [68]:
workshops.head()

,event,workshop,tags,description,track,difficulty
0,TD 2020,Introduction to Python,"for, loops, functions, while, logic, variables...",Are you new to programming? Or do you want a r...,CS,0
1,TD 2020,Storytelling with Data,"presenting, impact, business, data science","In this talk, we will describe how we use data...",Industry,0
2,TD 2020,Stats for Data Scientists,"statistics, confidence interval, testing, stat...","In this talk, we will discuss some aspects of ...",DS,0
3,TD 2020,How To Win TAMU Datathon,"win, advice, datathon, hackathon",Learn how to win at TAMU Datathon from last ye...,Industry,0
4,TD 2020,Intro to Natural Language Processing,"sklearn, gensim, nltk, tfidf, TfidfVectorizer,...",Interested in learning what Natural Language P...,ML,2

In [69]:
queries.head()

                    query                            workshop
0  Using machine learning  Machine Learning Part 2/2: Applied
1         underlying math   Machine Learning Part 1/2: Theory
2        The math portion   Machine Learning Part 1/2: Theory
3              TensorFlow            Intro to Neural Networks
4              Statisticd           Stats for Data Scientists

In [70]:
bootcamp.shape, applicants.shape, workshops.shape, queries.shape

((214, 2), (1250, 13), (21, 6), (47, 2))

### Applicants

In [71]:
applicants.age_bin = applicants.age_bin.map({'(15, 18]' : 0, '(18, 20]': 1, '(20, 22]': 2, '(22, 25]': 3,
                        '(25, 30]' : 4, '(30, 50]': 5})

In [72]:
applicants['undergrad'] = applicants.classification.apply(lambda x: 1 if x in ('Jr', 'Sr', 'So', 'Fr') else 0)
applicants['Masters'] = applicants.classification.apply(lambda x: 1 if x == 'Ma' else 0)
applicants['PhD'] = applicants.classification.apply(lambda x: 1 if x == 'PhD' else 0)
applicants.classification = applicants.classification.map({'O': 0, 'Fr':1 , 'So':2, 'Jr':3, 'Sr':4, 'Ma':5, 'PhD':6})

In [73]:
applicants.first_generation = applicants.first_generation.apply(lambda x: 1 if x==1 else 0)

In [74]:
applicants.technology_experience = applicants.technology_experience.str.replace('[', '')
applicants.technology_experience = applicants.technology_experience.str.replace(']', '')
applicants.technology_experience = applicants.technology_experience.str.replace("'", "")
applicants.technology_experience = applicants.technology_experience.str.replace("'", "")
applicants.technology_experience = applicants.technology_experience.str.replace(" ", "")

technologies = []

for i in applicants.technology_experience:
    for j in i.split(','):
        if j not in technologies:
            technologies = technologies + [j]

for i in technologies:
    if len(i)>0:
        applicants[i] = applicants.technology_experience.apply(lambda x: 1 if i in x else 0)

In [75]:
applicants.relavent_industries = applicants.relavent_industries.str.replace('[', '')
applicants.relavent_industries = applicants.relavent_industries.str.replace(']', '')
applicants.relavent_industries = applicants.relavent_industries.str.replace("'", "")
applicants.relavent_industries = applicants.relavent_industries.str.replace("'", "")
applicants.relavent_industries = applicants.relavent_industries.str.replace(" ", "")

industries = []

for i in applicants.relavent_industries:
    for j in i.split(','):
        if j not in industries:
            industries = industries + [j]

for i in industries:
    if len(i)>0:
        applicants[i] = applicants.relavent_industries.apply(lambda x: 1 if i in x else 0)

In [76]:
applicants.drop(['technology_experience', 'relavent_industries'], axis = 1, inplace = True)

In [77]:
applicants.majors = applicants.majors.str.replace('[', '')
applicants.majors = applicants.majors.str.replace(']', '')
applicants.majors = applicants.majors.str.replace("'", "")
applicants.majors = applicants.majors.str.replace("'", "")

majors = []

for i in applicants.majors:
    for j in i.split(','):
        j = j.strip()
        if j not in majors:
            majors = majors + [j]

In [78]:
print('majors', len(majors))

majors 62

In [79]:
applicants.shape

(1250, 42)

In [80]:
for i in majors:
    if len(i)>0:
        applicants[i] = applicants.majors.apply(lambda x: 1 if i in x else 0)

In [81]:
applicants.shape

(1250, 104)

In [82]:
applicants.drop('majors', axis = 1, inplace = True)

In [83]:
applicants.minors = applicants.minors.str.replace('[', '')
applicants.minors = applicants.minors.str.replace(']', '')
applicants.minors = applicants.minors.str.replace("'", "")
applicants.minors = applicants.minors.str.replace("'", "")

applicants['Has_minor'] = applicants.minors.apply(lambda x: 1 if len(x)>0 else 0)

In [84]:
for i in applicants.minors:
    if len(i)>0:
        for j in i.split(','):
            j = j.strip()
            if j not in majors:
                majors = majors + [j]

In [85]:
len(majors)

71

In [86]:
applicants.shape

(1250, 104)

In [87]:
for i in majors:
    if len(i)>0:
        applicants[i] = applicants.minors.apply(lambda x: 1 if i in x else 0)

In [88]:
applicants.shape

(1250, 113)

In [89]:
applicants.drop('minors', axis = 1, inplace = True)

In [90]:
applicants.num_hackathons_attended = applicants.num_hackathons_attended.map({'0':0, '1-3':1, '4-7':2, '8-10':3, '10+':4})

Schools

In [91]:
import category_encoders as ce
encoder = ce.BinaryEncoder(cols=['school'],return_df=True)

bin_schools = encoder.fit_transform(applicants.school)

In [98]:
applicants = pd.concat([applicants, bin_schools], axis=1, sort=False)

In [102]:
applicants.drop(['school', 'other_school'], axis =1, inplace = True)

In [105]:
applicants.to_csv('applicants_cleans.csv', index = False)

In [106]:
applicants.head()

,userid,age_bin,classification,first_generation,datascience_experience,num_hackathons_attended,workshop_suggestions,undergrad,Masters,PhD,...,Anthropology,Public Service and Administration,school_0,school_1,school_2,school_3,school_4,school_5,school_6,school_7
0,95030aef3e970680d882f1527f549d9e,4,5,0,2,0,Python Fundamentals (Functions/Loops)\nVisuali...,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,68ad76832a913de0d62df103b3d5b807,1,3,1,2,0,Training videos on different levels of machine...,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,959d8992667c8bfc1ac665f234360eb6,3,5,1,2,0,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,76b067cd5f3e1b1976d2e2eeceedf567,1,3,0,1,0,Python data science,1,0,0,...,0,0,0,0,0,0,0,0,1,1
4,f44cfb96520a82e172ce2ae116b21187,3,4,0,1,0,NaN,1,0,0,...,0,0,0,0,0,0,0,0,0,1

Final function to prepare dataframe

In [104]:
import pickle

output = open('encoder.pkl', 'wb')
pickle.dump(encoder, output)
output.close()

output = open('technologies.pkl', 'wb')
pickle.dump(technologies, output)
output.close()

output = open('industries.pkl', 'wb')
pickle.dump(industries, output)
output.close()

output = open('majors.pkl', 'wb')
pickle.dump(majors, output)
output.close()