In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
pd.options.mode.chained_assignment = None

root = 'C:/Data/for-you/'
import os

In [89]:
applicants = pd.read_csv(root+'applicants.csv')
bootcamp = pd.read_csv(root+'bootcamp_turnout.csv')
queries = pd.read_csv(root+'queries.csv')
workshops = pd.read_csv(root+'workshops.csv')

In [90]:
applicants.head()

,userid,school,other_school,majors,minors,age_bin,classification,first_generation,datascience_experience,technology_experience,num_hackathons_attended,workshop_suggestions,relavent_industries
0,95030aef3e970680d882f1527f549d9e,Texas A&M University,NaN,"['Landscape Architecture & Urban Planning', 'P...",['Soil and Crop Sciences'],"(25, 30]",Ma,False,2,"['Excel', 'Python', 'Tableau', 'Pandas']",0,Python Fundamentals (Functions/Loops)\nVisuali...,"['consulting', 'public_policy', 'other']"
1,68ad76832a913de0d62df103b3d5b807,Texas A&M University,NaN,"['Electrical Engineering', 'Material Science',...",[],"(18, 20]",Jr,True,2,"['Excel', 'Python', 'Pandas', 'NumPy', 'MATLAB']",0,Training videos on different levels of machine...,"['technology', 'education', 'healthcare', 'ins..."
2,959d8992667c8bfc1ac665f234360eb6,Oregon State University,NaN,['Computer Science & Engineering'],[],"(22, 25]",Ma,True,2,"['Python', 'Pytorch', 'Pandas', 'NumPy', 'Scik...",0,NaN,['technology']
3,76b067cd5f3e1b1976d2e2eeceedf567,"Arizona State University, Tempe Campus",NaN,['Biomedical Engineering'],[],"(18, 20]",Jr,False,1,"['Excel', 'MATLAB']",0,Python data science,"['technology', 'healthcare']"
4,f44cfb96520a82e172ce2ae116b21187,Texas A&M University,NaN,['Computer Science & Engineering'],[],"(22, 25]",Sr,False,1,"['Python', 'Pandas']",0,NaN,[]

In [91]:
bootcamp.head()

,userid,workshop
0,f48d02fd46d249ab2c37f925f405139f,Data Science: Start Here
1,f48d02fd46d249ab2c37f925f405139f,Getting a Job in Data Science
2,f4610ad445934181ac9982f6ba818907,Story Telling With Data
3,f4610ad445934181ac9982f6ba818907,Convolutional Neural Networks & Semantic Segme...
4,f4610ad445934181ac9982f6ba818907,Machine Learning: Start Here

In [92]:
workshops.head()

,event,workshop,tags,description,track,difficulty
0,TD 2020,Introduction to Python,"for, loops, functions, while, logic, variables...",Are you new to programming? Or do you want a r...,CS,0
1,TD 2020,Storytelling with Data,"presenting, impact, business, data science","In this talk, we will describe how we use data...",Industry,0
2,TD 2020,Stats for Data Scientists,"statistics, confidence interval, testing, stat...","In this talk, we will discuss some aspects of ...",DS,0
3,TD 2020,How To Win TAMU Datathon,"win, advice, datathon, hackathon",Learn how to win at TAMU Datathon from last ye...,Industry,0
4,TD 2020,Intro to Natural Language Processing,"sklearn, gensim, nltk, tfidf, TfidfVectorizer,...",Interested in learning what Natural Language P...,ML,2

In [93]:
queries.head()

                    query                            workshop
0  Using machine learning  Machine Learning Part 2/2: Applied
1         underlying math   Machine Learning Part 1/2: Theory
2        The math portion   Machine Learning Part 1/2: Theory
3              TensorFlow            Intro to Neural Networks
4              Statisticd           Stats for Data Scientists

In [94]:
bootcamp.shape, applicants.shape, workshops.shape, queries.shape

((214, 2), (1250, 13), (21, 6), (47, 2))

### Applicants

In [95]:
applicants.head()

,userid,school,other_school,majors,minors,age_bin,classification,first_generation,datascience_experience,technology_experience,num_hackathons_attended,workshop_suggestions,relavent_industries
0,95030aef3e970680d882f1527f549d9e,Texas A&M University,NaN,"['Landscape Architecture & Urban Planning', 'P...",['Soil and Crop Sciences'],"(25, 30]",Ma,False,2,"['Excel', 'Python', 'Tableau', 'Pandas']",0,Python Fundamentals (Functions/Loops)\nVisuali...,"['consulting', 'public_policy', 'other']"
1,68ad76832a913de0d62df103b3d5b807,Texas A&M University,NaN,"['Electrical Engineering', 'Material Science',...",[],"(18, 20]",Jr,True,2,"['Excel', 'Python', 'Pandas', 'NumPy', 'MATLAB']",0,Training videos on different levels of machine...,"['technology', 'education', 'healthcare', 'ins..."
2,959d8992667c8bfc1ac665f234360eb6,Oregon State University,NaN,['Computer Science & Engineering'],[],"(22, 25]",Ma,True,2,"['Python', 'Pytorch', 'Pandas', 'NumPy', 'Scik...",0,NaN,['technology']
3,76b067cd5f3e1b1976d2e2eeceedf567,"Arizona State University, Tempe Campus",NaN,['Biomedical Engineering'],[],"(18, 20]",Jr,False,1,"['Excel', 'MATLAB']",0,Python data science,"['technology', 'healthcare']"
4,f44cfb96520a82e172ce2ae116b21187,Texas A&M University,NaN,['Computer Science & Engineering'],[],"(22, 25]",Sr,False,1,"['Python', 'Pandas']",0,NaN,[]

In [96]:
applicants.age_bin.unique()

array(['(25, 30]', '(18, 20]', '(22, 25]', '(20, 22]', '(30, 50]',
       '(15, 18]'], dtype=object)

In [97]:
applicants.age_bin = applicants.age_bin.map({'(15, 18]' : 0, '(18, 20]': 1, '(20, 22]': 2, '(22, 25]': 3, 
                        '(25, 30]' : 4, '(30, 50]': 5})

In [98]:
applicants.classification.unique()

array(['Ma', 'Jr', 'Sr', 'So', 'Fr', 'PhD', 'O'], dtype=object)

In [99]:
applicants.classification.value_counts()

Jr     299
Ma     285
Sr     202
So     199
Fr     143
PhD     90
O       32
Name: classification, dtype: int64

In [100]:
applicants['undergrad'] = applicants.classification.apply(lambda x: 1 if x in ('Jr', 'Sr', 'So', 'Fr') else 0)
applicants['Masters'] = applicants.classification.apply(lambda x: 1 if x == 'Ma' else 0)
applicants['PhD'] = applicants.classification.apply(lambda x: 1 if x == 'PhD' else 0)
applicants.classification = applicants.classification.map({'O': 0, 'Fr':1 , 'So':2, 'Jr':3, 'Sr':4, 'Ma':5, 'PhD':6})

In [101]:
applicants.first_generation.value_counts()

False    995
True     255
Name: first_generation, dtype: int64

In [102]:
applicants.first_generation = applicants.first_generation.apply(lambda x: 1 if x==1 else 0)

In [103]:
applicants.technology_experience = applicants.technology_experience.str.replace('[', '')
applicants.technology_experience = applicants.technology_experience.str.replace(']', '')
applicants.technology_experience = applicants.technology_experience.str.replace("'", "")
applicants.technology_experience = applicants.technology_experience.str.replace("'", "")
applicants.technology_experience = applicants.technology_experience.str.replace(" ", "")

In [104]:
technologies = []

for i in applicants.technology_experience:
    for j in i.split(','):
        if j not in technologies:
            technologies = technologies + [j]

technologies

['Excel',
 'Python',
 'Tableau',
 'Pandas',
 'NumPy',
 'MATLAB',
 'Pytorch',
 'Scikit-learn',
 'full_stack',
 'TensorFlow',
 'R',
 'SQL',
 'dev_ops',
 '',
 'Keras',
 'cloud']

In [105]:
for i in technologies:
    if len(i)>0:
        applicants[i] = applicants.technology_experience.apply(lambda x: 1 if i in x else 0)

In [106]:
applicants.drop('technology_experience', axis = 1, inplace = True)

In [107]:
applicants.relavent_industries = applicants.relavent_industries.str.replace('[', '')
applicants.relavent_industries = applicants.relavent_industries.str.replace(']', '')
applicants.relavent_industries = applicants.relavent_industries.str.replace("'", "")
applicants.relavent_industries = applicants.relavent_industries.str.replace("'", "")
applicants.relavent_industries = applicants.relavent_industries.str.replace(" ", "")

In [109]:
industries = []

for i in applicants.relavent_industries:
    for j in i.split(','):
        if j not in industries:
            industries = industries + [j]

industries

['consulting',
 'public_policy',
 'other',
 'technology',
 'education',
 'healthcare',
 'insurance',
 '',
 'finance',
 'aerospace',
 'transportation',
 'sports',
 'retail',
 'energy']

In [110]:
for i in industries:
    if len(i)>0:
        applicants[i] = applicants.relavent_industries.apply(lambda x: 1 if i in x else 0)

In [111]:
applicants.head()

,userid,school,other_school,majors,minors,age_bin,classification,first_generation,datascience_experience,num_hackathons_attended,...,technology,education,healthcare,insurance,finance,aerospace,transportation,sports,retail,energy
0,95030aef3e970680d882f1527f549d9e,Texas A&M University,NaN,"['Landscape Architecture & Urban Planning', 'P...",['Soil and Crop Sciences'],4,5,0,2,0,...,0,0,0,0,0,0,0,0,0,0
1,68ad76832a913de0d62df103b3d5b807,Texas A&M University,NaN,"['Electrical Engineering', 'Material Science',...",[],1,3,1,2,0,...,1,1,1,1,0,0,0,0,0,0
2,959d8992667c8bfc1ac665f234360eb6,Oregon State University,NaN,['Computer Science & Engineering'],[],3,5,1,2,0,...,1,0,0,0,0,0,0,0,0,0
3,76b067cd5f3e1b1976d2e2eeceedf567,"Arizona State University, Tempe Campus",NaN,['Biomedical Engineering'],[],1,3,0,1,0,...,1,0,1,0,0,0,0,0,0,0
4,f44cfb96520a82e172ce2ae116b21187,Texas A&M University,NaN,['Computer Science & Engineering'],[],3,4,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [112]:
applicants.majors.head()

0    ['Landscape Architecture & Urban Planning', 'P...
1    ['Electrical Engineering', 'Material Science',...
2                   ['Computer Science & Engineering']
3                           ['Biomedical Engineering']
4                   ['Computer Science & Engineering']
Name: majors, dtype: object

In [119]:
applicants.majors = applicants.majors.str.replace('[', '')
applicants.majors = applicants.majors.str.replace(']', '')
applicants.majors = applicants.majors.str.replace("'", "")
applicants.majors = applicants.majors.str.replace("'", "")

In [118]:
applicants.majors[0].strip()

'Landscape Architecture & Urban Planning, Plant Pathology and Microbiology'

In [121]:
majors = []

for i in applicants.majors:
    for j in i.split(','):
        j = j.strip()
        if j not in majors:
            majors = majors + [j]

majors

['Landscape Architecture & Urban Planning',
 'Plant Pathology and Microbiology',
 'Electrical Engineering',
 'Material Science',
 'Mechanical Engineering',
 'Computer Science & Engineering',
 'Biomedical Engineering',
 'Industrial and/or Systems Engineering',
 'Economics',
 'Finance',
 'Applied Mathematics',
 'Statistics',
 'Management Information Systems',
 'Aerospace Engineering',
 'Nuclear Engineering',
 'Psychology',
 'Other',
 'Biomedical Sciences',
 'Chemistry',
 'Ocean Engineering',
 'Data Science & Analytics',
 'Biology',
 'Chemical Engineering',
 'Mathematics',
 'Petroleum Engineering',
 'Astronomy',
 'Physics',
 'Electronic Systems Engineering',
 'Agronomy',
 'Atmospheric Sciences',
 'Civil Engineering',
 'Ecosystem Science and Management',
 'Geology',
 'Business',
 'Biochemistry and Biophysics',
 'Analytics',
 'Construction Science',
 'Neuroscience',
 'Architecture',
 'Agricultural Economics',
 'Geography',
 'International Affairs',
 'Political Science',
 'Engineering Technology & Industrial Distribution',
 'Geoscience',
 'Accounting',
 'Information and Operations Management',
 'Information Science',
 'Molecular & Cellular Medicine',
 'International Studies',
 'English',
 'Educational Administration & Human Resource Development',
 'Soil and Crop Sciences',
 'Visualization',
 'Biological and Agricultural Engineering',
 'Entomology',
 'Oceanography',
 'Genetics',
 'Sociology',
 'Public Health',
 'Marketing',
 'Educational Psychology']

In [127]:
len(majors)

62

In [126]:
applicants.shape

(1250, 43)

In [128]:
for i in majors:
    if len(i)>0:
        applicants[i] = applicants.majors.apply(lambda x: 1 if i in x else 0)

In [129]:
applicants.shape

(1250, 105)

In [130]:
applicants.drop('majors', axis = 1, inplace = True)

In [131]:
applicants.minors.head()

0    ['Soil and Crop Sciences']
1                            []
2                            []
3                            []
4                            []
Name: minors, dtype: object

In [133]:
applicants.minors = applicants.minors.str.replace('[', '')
applicants.minors = applicants.minors.str.replace(']', '')
applicants.minors = applicants.minors.str.replace("'", "")
applicants.minors = applicants.minors.str.replace("'", "")

In [137]:
applicants['Has_minor'] = applicants.minors.apply(lambda x: 1 if len(x)>0 else 0)

In [138]:
for i in applicants.minors:
    if len(i)>0:
        for j in i.split(','):
            j = j.strip()
            if j not in majors:
                majors = majors + [j]

In [139]:
majors

['Landscape Architecture & Urban Planning',
 'Plant Pathology and Microbiology',
 'Electrical Engineering',
 'Material Science',
 'Mechanical Engineering',
 'Computer Science & Engineering',
 'Biomedical Engineering',
 'Industrial and/or Systems Engineering',
 'Economics',
 'Finance',
 'Applied Mathematics',
 'Statistics',
 'Management Information Systems',
 'Aerospace Engineering',
 'Nuclear Engineering',
 'Psychology',
 'Other',
 'Biomedical Sciences',
 'Chemistry',
 'Ocean Engineering',
 'Data Science & Analytics',
 'Biology',
 'Chemical Engineering',
 'Mathematics',
 'Petroleum Engineering',
 'Astronomy',
 'Physics',
 'Electronic Systems Engineering',
 'Agronomy',
 'Atmospheric Sciences',
 'Civil Engineering',
 'Ecosystem Science and Management',
 'Geology',
 'Business',
 'Biochemistry and Biophysics',
 'Analytics',
 'Construction Science',
 'Neuroscience',
 'Architecture',
 'Agricultural Economics',
 'Geography',
 'International Affairs',
 'Political Science',
 'Engineering Technology & Industrial Distribution',
 'Geoscience',
 'Accounting',
 'Information and Operations Management',
 'Information Science',
 'Molecular & Cellular Medicine',
 'International Studies',
 'English',
 'Educational Administration & Human Resource Development',
 'Soil and Crop Sciences',
 'Visualization',
 'Biological and Agricultural Engineering',
 'Entomology',
 'Oceanography',
 'Genetics',
 'Sociology',
 'Public Health',
 'Marketing',
 'Educational Psychology',
 'Hispanic Studies',
 'History',
 'Philosophy',
 'Communications',
 'Teaching',
 'Learning & Culture',
 'Environmental Law',
 'Anthropology',
 'Public Service and Administration']

In [140]:
len(majors)

71

In [141]:
applicants.shape

(1250, 105)

In [142]:
for i in majors:
    if len(i)>0:
        applicants[i] = applicants.minors.apply(lambda x: 1 if i in x else 0)

In [143]:
applicants.shape

(1250, 114)

In [145]:
applicants.other_school.isnull().value_counts()

True     1141
False     109
Name: other_school, dtype: int64

In [150]:
applicants.school.value_counts().head()

Texas A&M University             775
Other                            114
University of Texas at Austin     30
University of Texas at Dallas     27
Oregon State University           22
Name: school, dtype: int64

In [152]:
applicants.other_school.value_counts().head()

University of Toronto                 7
Universidad Nacional de IngenierÃ­a    4
McMaster University                   3
Politecnico di Milano                 3
Florida Polytechnic University        3
Name: other_school, dtype: int64